* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Oxanium', cursive;
  color: white;
  background-color: #2c2f33;
}

p {
  align-items: center;
}

form {
  display: flex;
  background: #000;
  position: fixed;
  bottom: 0;
  height: 6vh;
  width: 100%;
  border: 1px solid #99aab5;
}

form input {
  border: 0;
  width: 90%;
}

form button {
  width: 10%;
  background: #99aab5;
  border: none;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#displaybox {
  display: flex;
  flex-direction: row;
}

#chatcol {
  flex: 1;
}

#chatcol > p {
  height: 4vh;
}

#usercol {
  flex: 0 0 20%;
}

#usercol > p {
  height: 4vh;
}

#userlist {
  align-items: stretch;
  overflow-y: auto;
}

#messagelist {
  align-items: stretch;
  max-height: 90vh;
  overflow-y: auto;
}

.scroll1::-webkit-scrollbar {
  display: block;
  width: 5px;
  background-color: #99aab5;
}

.scroll1::-webkit-scrollbar-thumb {
  display: block;
  width: 4px;
  background-color: black;
  border-radius: 10px;
}